<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.dynamic_confusion.mygig_planner.server.users.UserServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/mygig_planner/users</url-pattern>
  </servlet-mapping>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>com.dynamic_confusion.mygig_planner.server.users.RegistrationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/mygig_planner/registration</url-pattern>
  </servlet-mapping>

  <!-- Servlets Suck -->
  <servlet>
    <servlet-name>gigServlet</servlet-name>
    <servlet-class>com.dynamic_confusion.mygig_planner.server.gigs.GigTransactionServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>gigServlet</servlet-name>
    <url-pattern>/mygig_planner/gigs</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MyGig_Planner.html</welcome-file>
  </welcome-file-list>

</web-app>
