<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
	<servlet>
		<servlet-name>serverSideService</servlet-name>
		<servlet-class>com.dynamic_confusion.mygig_planner.server.ss_service.ServerSideServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>serverSideService</servlet-name>
		<url-pattern>server-side/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>serverSideServlet</servlet-name>
		<servlet-class>com.dynamic_confusion.mygig_planner.server.ss_service.ServerSideServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serverSideServlet</servlet-name>
		<url-pattern>servlet/*</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>MyGig_Planner.html</welcome-file>
	</welcome-file-list>
  
</web-app>